fastapi
uvicorn[standard]
motor
PyJWT
passlib[bcrypt]
python-multipart
python-jose[cryptography]
bcrypt
pydantic[email] # Added [email] extras
pydantic-settings
werkzeug
wfdb
numpy
opencv-python
gunicorn
Pillow
pydicom
pylibjpeg
pylibjpeg-libjpeg
python-gdcm
PyWavelets
torch
torchvision
timm
email-validator # Explicitly added for clarity